[Unit]
Description=Summary Bot Django
After=multi-user.target

[Service]
Type=simple
ExecStart=/apps/summary-bot/.venv/bin/python /apps/summary-bot/manage.py runserver
WorkingDirectory=/apps/summary-bot/
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
